/* You can add custom CSS here
 *
 * You'll want to start the container with the customized version
 * of this file mounted; for example:
 *
 *  docker run -dit -p 80:8080 -p 443:8443 \
 *   -v /path/to/your/custom.css:/var/www/hw/css/custom.css \
 *   f5devcentral/f5-hello-world
 *
 */

.hw-nodeColor { background-color: rgb(64,255,0); height: 4px; border: 0; }
